body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(253, 242, 231);
}

header {
  text-align: center;
}

.CalendarApp {
  text-align: center;
  height: 100vh;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.add-title-box {
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
}

.start-event-box {
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
}

.end-event-box {
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
}

.add-new-event-btn {
  border: 2px solid black;
  border-radius: 8px;
  margin-top: 15px;
  padding: 10px;
}

.NewEvent {
  padding: 30px;
  text-align: center;
  display: block;
  width: 190px;
  border: solid 2px black;
  border-radius: 50px;
  background: white;
  margin-left: 1370px;
}

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;
  padding: 40px;
}

.rbc-calendar {
  background-color: white;
  padding: inherit;
}

.rbc-event {
  background-color: black !important;
}
.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
  border: solid 3px black;
  border-radius: 50px;
  font-size: x-large;
  background: white;
  padding: 10px 0 10px 0 !important;
}

.rbc-event:focus,
.rbc-background-event:focus {
  background-color: rgb(212, 0, 255) !important;
}

.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: rgb(212, 0, 255) !important;
}

.rbc-off-range-bg {
  background: #bab9b9 !important;
}

.react-datepicker {
  margin-left: -26px;
}

.react-datepicker-popper {
  display: contents;
}

.react-datepicker-wrapper {
  margin-top: 3px;
}

/*.react-datepicker__input-container {
  border: solid 2px black;
  border-radius: 8px;
  display: inline-block;
  position: relative;
  width: 79%;
}*/

.text {
  margin-top: 10px;
}

.weatherContainer {
  display: contents;
  width: 40%;
  height: 40vh;
  position: relative;
  color: #000f;
}

.weatherContainer .search {
  text-align: center;
  padding: 1rem;
}

.weatherContainer input {
  padding: 0.7rem 1.5rem;
  font-size: 0.8rem;
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.weatherReturn .location {
  font-size: 1.7em;
}

.weatherReturn .description {
  display: contents;
  color: #000f;
  position: relative;
}

.weatherReturn {
  width: 200px;
  border: solid 3px black;
  border-radius: 70px;
  margin-left: 715px;
  margin-top: 20px;
  background-color: white;
}
